@font-face {
    font-family: 'Electroharmonix';
    src: url('./fonts/Electroharmonix.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
}

body {
    font-family: 'Electroharmonix', sans-serif;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #afb2bf;
    user-select: none;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }
  
  *::-webkit-scrollbar-track {
    background:rgba(238, 218, 174, 1);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color:rgba(238, 218, 174, 1);
    border-radius: 10px;
    visibility: hidden;
  }
  
  *:active::-webkit-scrollbar-thumb,
  *:focus::-webkit-scrollbar-thumb,
  *:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  .poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
.main {
    height: 100vh;
    width: 100vw;
}

.navbar {
    display: flex;
    width: 815px;
    height: 55px;
    margin-top: 150px;
    justify-content: space-around;
    font-size: 20px;
    overflow-y: hidden;
}

.name-section {
    display: flex;
    flex-direction: column;
    width: 533px;
    height: 311px;
    align-items: center;
    font-size: xx-large;
    gap: 25px;
    margin-top: 250px;
    position: absolute;
}

.socials {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 350px;
    margin-right: 1400px;
    border-radius: 10%;
}

.header {
    height: 800px;
    width: 100vw;
    background: rgba(238, 218, 174, 1) url("./assets/bg.png") no-repeat center center;
    background-size: 100%;
    margin-top: -129px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: hidden;
}

.social-items {
    cursor: pointer;
    transition: transform 0.3s ease; 
    width: 60px; 
    height: 60px; 
    background-color: rgba(238, 218, 174, 1);
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 10px; 
}


.social-items:hover {
    transform: scale(1.1); 
}


.social-items img {
    width: 40px; 
}

.mountain-1{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-top: 100px;
    position: absolute;
    width: 200px;
    height: auto;
    margin-top: 600px;
    margin-right: 1350px;
}

.mountain-2{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-top: 00px;
    position: absolute;
    width: 200px;
    height: auto;
    margin-top: 610px;
    margin-left: 1350px;
}


.avatar{
    position:absolute;
    margin-top: 600px;
    margin-left: 50px;
}

.avatar img{
    width: 250px; 
    height: auto; 
    object-fit: cover;
}

.intro{
    margin-top: 25px;
    font-size: medium;
    font-family: "Poetsen One", sans-serif;
    text-align:justify ;
    line-height: 1.5;
}

.my-skills-section {
    width: 100vw;
    height: 1120px;
    background-color: rgba(32, 33, 71, 1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.branch-1{
    position: absolute;
    margin-top: 200px;
    margin-right: 1300px;
}
.branch-2{
    position: absolute;    
    margin-top: 200px;
    margin-left: 1390px;
}
.skills-heading{
    margin-top: 50px;
    font-size: 38px;
    color:  rgba(238, 218, 174, 1);
}