@font-face {
    font-family: 'Electroharmonix';
    src: url('./fonts/Electroharmonix.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
}

body {
    font-family: 'Electroharmonix', sans-serif;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #afb2bf;
    user-select: none;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }
  
  *::-webkit-scrollbar-track {
    background:rgba(238, 218, 174, 1);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color:rgba(238, 218, 174, 1);
    border-radius: 10px;
    visibility: hidden;
  }
  
  *:active::-webkit-scrollbar-thumb,
  *:focus::-webkit-scrollbar-thumb,
  *:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

.main {
    height: 100vh;
    width: 100vw;
}

.navbar {
    display: flex;
    width: 815px;
    height: 55px;
    margin-top: 170px;
    justify-content: space-around;
    font-size: 20px;
    overflow-y: hidden;
}

.name-section {
    display: flex;
    flex-direction: column;
    width: 533px;
    height: 311px;
    align-items: center;
    font-size: xx-large;
    gap: 25px;
    margin-top: 300px;
    position: absolute;
}

.socials {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 350px;
    margin-right: 1400px;
    border-radius: 10%;
}

.header {
    height: 800px;
    width: 100vw;
    background: rgba(238, 218, 174, 1) url("./assets/bg.png") no-repeat center center;
    background-size: 100%;
    margin-top: -129px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: hidden;
}

.social-items {
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
    width: 60px; /* Square container size */
    height: 60px; /* Square container size */
    background-color: rgba(238, 218, 174, 1); /* Background color for the square */
    display: flex;
    align-items: center; /* Center image vertically */
    justify-content: center; /* Center image horizontally */
    border-radius: 10px; /* Rounded corners for the square */
}

/* Hover effect to scale the element */
.social-items:hover {
    transform: scale(1.1); /* Scale the element to 110% of its original size */
}

/* Styling for the images */
.social-items img {
    width: 40px; /* Image size */
}

.mountain-1{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-top: 100px;
    position: absolute;
    width: 200px;
    height: auto;
    margin-top: 600px;
    margin-right: 1350px;
}

.mountain-2{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-top: 00px;
    position: absolute;
    width: 200px;
    height: auto;
    margin-top: 610px;
    margin-left: 1350px;
}

.my-skills-section {
    width: 100vw;
    height: 1120px;
    background-color: rgba(32, 33, 71, 1);
}
